In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('/titanic.csv')
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [4]:
df.head(10)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,"Moran, Mr. James",3,male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
7,8,"Palsson, Master. Gosta Leonard",3,male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,14.0,1,0,237736,30.0708,NaN,C,1

In [5]:
df.tail(10)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
881,882,"Markun, Mr. Johann",3,male,33.0,0,0,349257,7.8958,NaN,S,0
882,883,"Dahlberg, Miss. Gerda Ulrika",3,female,22.0,0,0,7552,10.5167,NaN,S,0
883,884,"Banfield, Mr. Frederick James",2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0
884,885,"Sutehall, Mr. Henry Jr",3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
885,886,"Rice, Mrs. William (Margaret Norton)",3,female,39.0,0,5,382652,29.1250,NaN,Q,0
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [6]:
df.shape

(891, 12)

In [7]:
df.info

<bound method DataFrame.info of      PassengerId                                               Name  Pclass  \
0              1                            Braund, Mr. Owen Harris       3
1              2  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2              3                             Heikkinen, Miss. Laina       3
3              4       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4              5                           Allen, Mr. William Henry       3
..           ...                                                ...     ...
886          887                              Montvila, Rev. Juozas       2
887          888                       Graham, Miss. Margaret Edith       1
888          889           Johnston, Miss. Catherine Helen "Carrie"       3
889          890                              Behr, Mr. Karl Howell       1
890          891                                Dooley, Mr. Patrick       3

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
1    female  38.0      1      0          PC 17599  71.2833   C85        C
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3    female  35.0      1      0            113803  53.1000  C123        S
4      male  35.0      0      0            373450   8.0500   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 12 columns]>

In [8]:
df.isnull().any()

PassengerId    False
Name           False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
Survived       False
dtype: bool

In [9]:
df = df.fillna(float('nan'))
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [10]:
df.dropna(inplace=True)
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
10,11,"Sandstrom, Miss. Marguerite Rut",3,female,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,"Bonnell, Miss. Elizabeth",1,female,58.0,0,0,113783,26.5500,C103,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,female,47.0,1,1,11751,52.5542,D35,S,1
872,873,"Carlsson, Mr. Frans Olof",1,male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
879,880,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,female,56.0,0,1,11767,83.1583,C50,C,1
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1

In [11]:
duplicate_rows = df.duplicated()
df.drop_duplicates(inplace=True)
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
6,7,"McCarthy, Mr. Timothy J",1,male,54.0,0,0,17463,51.8625,E46,S,0
10,11,"Sandstrom, Miss. Marguerite Rut",3,female,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,"Bonnell, Miss. Elizabeth",1,female,58.0,0,0,113783,26.5500,C103,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,female,47.0,1,1,11751,52.5542,D35,S,1
872,873,"Carlsson, Mr. Frans Olof",1,male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
879,880,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,female,56.0,0,1,11767,83.1583,C50,C,1
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1

In [12]:
df.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Survived
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,1.191257,35.674426,0.464481,0.475410,78.682469,0.672131
std,247.052476,0.515187,15.643866,0.644159,0.754617,76.347843,0.470725
min,2.000000,1.000000,0.920000,0.000000,0.000000,0.000000,0.000000
25%,263.500000,1.000000,24.000000,0.000000,0.000000,29.700000,0.000000
50%,457.000000,1.000000,36.000000,0.000000,0.000000,57.000000,1.000000
75%,676.000000,1.000000,47.500000,1.000000,1.000000,90.000000,1.000000
max,890.000000,3.000000,80.000000,3.000000,4.000000,512.329200,1.000000

In [58]:
x = df.drop('Survived',axis='columns')
y = df.Survived

In [65]:
from sklearn.preprocessing import LabelEncoder
le_Sex = LabelEncoder()
le_Name= LabelEncoder()
le_Ticket = LabelEncoder()
le_Cabin = LabelEncoder()
le_Embarked = LabelEncoder()

In [87]:
x['Sex_n'] = le_Sex.fit_transform(x['Sex'])
x['Name_n'] = le_Name.fit_transform(x['Name'])
x['Ticket_n'] = le_Ticket.fit_transform(x['Ticket'])
x['Cabin_n'] = le_Cabin.fit_transform(x['Cabin'])
x['Embarked_n'] = le_Embarked.fit_transform(x['Embarked'])

x_n

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_n,Name_n,Ticket_n,Cabin_n,Embarked_n
1,2,1,38.0,1,0,71.2833,0,49,109,72,0
3,4,1,35.0,1,0,53.1000,0,70,31,48,2
6,7,1,54.0,0,0,51.8625,1,112,55,117,2
10,11,3,4.0,1,1,16.7000,0,148,120,131,2
11,12,1,58.0,0,0,26.5500,0,27,26,43,2
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,47.0,1,1,52.5542,0,18,33,91,2
872,873,1,33.0,0,0,5.0000,1,35,89,29,2
879,880,1,56.0,0,1,83.1583,0,140,38,61,0
887,888,1,19.0,0,0,30.0000,0,75,10,25,2
889,890,1,26.0,0,0,30.0000,1,20,8,52,0

In [82]:
x_n = x.drop(['Sex', 'Name', 'Cabin', 'Embarked' , 'Ticket'],axis='columns')
x_n

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_n,Name_n,Ticket_n,Cabin_n,Embarked_n
1,2,1,38.0,1,0,71.2833,0,49,109,72,0
3,4,1,35.0,1,0,53.1000,0,70,31,48,2
6,7,1,54.0,0,0,51.8625,1,112,55,117,2
10,11,3,4.0,1,1,16.7000,0,148,120,131,2
11,12,1,58.0,0,0,26.5500,0,27,26,43,2
...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,47.0,1,1,52.5542,0,18,33,91,2
872,873,1,33.0,0,0,5.0000,1,35,89,29,2
879,880,1,56.0,0,1,83.1583,0,140,38,61,0
887,888,1,19.0,0,0,30.0000,0,75,10,25,2
889,890,1,26.0,0,0,30.0000,1,20,8,52,0

In [77]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [83]:
model.fit(x_n, y)

DecisionTreeClassifier()

In [84]:
model.score(x_n,y)

1.0